<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to Family Blog!</title>
    <style>
      h1 {
        font-weight: bold;
        color: hotpink;
      }
    </style>
  </head>
  <body>
    <h1>Welcome People</h1>
    <p>Hi,
      {{customerName}}! Welcome to Family Blog. Hope you enjoy the experience!</p>
  </body>
</html>